.app_container {
  height: 100vh;
  border: solid 5px black;
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/557/520/original/old-video-game-vector.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
  
}