.Dash_Container {
  text-align: center;
  font-family: $font;
  position: relative;
  background-color: rgba($color: $white, $alpha: 0.8);
  padding: 5vh 5vh;
  height: 98.5vh;
  @include respond-to(small){
    padding: 5vh 10vh;
    max-width: 768px;
    margin: 0 auto;
  }
  @include respond-to(medium){
    max-width: 1000px;
    padding: 5vh 20vh;
  }

  .Dash_Title {
    width: 50%;
    display: inline;
    font-size: 2.7rem;
    @include respond-to(small){
      font-size: 4rem;      
    }
  }
  .Dash_UserName {
    display: block;
    color: $blue;
    font-size: 2rem;
    @include weight(xblack);
    @include respond-to(small){
      font-size: 3rem;      
    }
  }
  .Dash_Text {
    @include weight(xblack);
    font-size: 1.25rem;
    margin: 35px 0 0;
    @include respond-to(small){
      font-size: 2rem;
      letter-spacing: 0.25rem;      
    }
  }

  .Dash_Fig{
    /* border: solid 3px white; */
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    overflow: hidden; 
    @include respond-to(small){
      margin: 1rem auto;
      width: 100px;
      height: 100px;
    }
  }
  .Dash_Logo{
    position: absolute;
    border: solid 3px blue;
    width: 200%;
    top: -10px;
    left: -30px;
    @include respond-to(small){
      width: 210%;
      top: -30px;
      left: -55px;
    }
  }
  .Dash_Obs {
      @include weight(thin);
      padding: 5px;
      background-color: rgba($color: $green, $alpha: 0.7);
      color: $gray;
      font-variant: small-caps;
      font-size: 1rem;
      @include respond-to(small){
        margin: 0 0 3rem 0;
        font-size: 1.5rem;
        letter-spacing: 0.15rem;     
      }
  }
  .Dash_Form {
    margin: 25px 0;
    fieldset {
      background-color: rgba($color: $white, $alpha: 0.5);
      border: 2px solid $blue;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @include respond-to(small){
        border: 3px solid $blue; 
      }
    }
    legend {
      @include weight(xblack);
      font-size: 1rem;
      @include respond-to(small){
        font-size: 1.5rem;
      }
    }
    .Dash_Opt {
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    @keyframes click-wave {
      0% {
        height: 25px;
        width: 25px;
        opacity: 0.35;
        position: relative;
      }
      100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
      }
    }
    label {
      @include weight(xblack);
      font-size: 1.5rem;
      font-variant: small-caps;
      letter-spacing: 0.2rem;
      @include respond-to(small){
        font-size: 2.5rem;
      }
    }
    input[type=radio] {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      top: 10px;
      right: 0;
      bottom: 0;
      left: 0;
      height: 25px;
      width: 25px;
      transition: all 0.15s ease-out 0s;
      background:  rgba($color: $green, $alpha: 0.3);
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      margin-right: 0.5rem;
      outline: none;
      position: relative;
      z-index: 1000;
      @include respond-to(small){
        height: 35px;
        width: 35px;
      }
    &:hover {
      background:  rgba($color: $green, $alpha: 0.5);
    }
    &:checked {
      background: $green;
    }
    &:checked::before {
      height: 25px;
      width: 25px;
      position: absolute;
      content: '✔';
      bottom: 2px;
      display: inline-block;
      font-size: 27px;
      text-align: center;
      line-height: 25px;
      @include respond-to(small){
        height: 35px;
        width: 35px;
        font-size: 37px;
      }
    }
    &:checked::after {
      -webkit-animation: click-wave 0.65s;
      -moz-animation: click-wave 0.65s;
      animation: click-wave 0.65s;
      background: $green;
      content: '';
      display: block;
      position: relative;
      z-index: 100;
    }
    &.radio {
      border-radius: 50%;
      border: 3px solid $green;
    }
    &.radio::after {
      border-radius: 50%;
    }
  }
}
}