// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home_container{
  border: solid 3px white;
  text-align: center;
  font-family: $font;
  position: relative;
  background-color: rgba($color: $white, $alpha: 0.5);
  box-shadow: 0 0 25px rgba($color: $gray, $alpha: 0.9);
  margin: 7.5vh 5vh;
  height: 85vh;
   &:before{
    content: '';
    border: solid 1px white;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/557/520/original/old-video-game-vector.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    filter:blur(5px)
  } 
  .Home_Fig{
    /* border: solid 3px white; */
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    
    
  }
  .Home_Logo{
    position: absolute;
    border: solid 3px blue;
    top: -40px;
    left: -30px;
    
  }
  .Home_Text{
    @include weight(bold);
    font-size: 0.9rem;
    position: relative;
    color: $white;
  }
}
