// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home_container{
  /* border: solid 3px white; */
  position: relative;
  background-color: rgba($color: $white, $alpha: 0.5);
  box-shadow: 0 0 25px rgba($color: $black, $alpha: 0.9);
  margin: 5vh 5vh;
  height: 80vh;
  /* &:before{
    content: '';
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/557/520/original/old-video-game-vector.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    filter:blur(5px)
  } */
  h1{
    position: relative;
    color: red;
  }
  p{
    position: relative;
    color: $white;
  }
}

.menu_formcomp{
  position: relative;
  border-color: 3px solid $white;
}