// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.home_container{
  border: solid 3px white;
  text-align: center;
  font-family: $font;
  position: relative;
  background-color: rgba($color: $white, $alpha: 0.5);
  box-shadow: 0 0 25px rgba($color: $gray, $alpha: 0.9);
  margin: 7.5vh 5vh;
  height: 85vh;
  max-width: 540px;
  @include respond-to(small){
    margin: 7.5vh auto;
  }
  @include respond-to(medium){
    margin: 7.5vh auto;
    max-width: 1000px;
  }
  &:before{
    content: '';
    border: solid 1px white;
    position: absolute;
    top: -20px;
    bottom: -20px;
    left: -20px;
    right: -20px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/557/520/original/old-video-game-vector.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    filter:blur(5px)
  } 
  .Home_Fig{
    /* border: solid 3px white; */
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    @include respond-to(small){
      width: 200px;
      height: 200px;
    }
    
  }
  .Home_Logo{
    position: absolute;
    border: solid 3px blue;
    top: -40px;
    left: -30px;
    @include respond-to(small){
      border: 3px solid $white;
      width: 130%;
    }
    
  }
  .Home_Text{
    @include weight(bold);
    font-size: 0.9rem;
    position: relative;
    color: $white;
    @include respond-to(small){
      width: 90%;
      margin: 15px auto 45px auto;
      font-size: 1.25rem;
    }
    @include respond-to(medium){
      width: 70%;
      margin: 15px auto 45px auto;
      font-size: 1.5rem;
    }
    
  }
}
