// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.Form_Submit {
  margin: 15px;
  padding: 0 15px;
  height: 2.5rem;
  width: 90%;
  outline: none;
  background-color: $yellow;
  border: none;
  border-radius: $radius;
  color: $gray;
  font-variant: small-caps;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  @include weight(xblack);
  transition: all 0.5s;
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

.Form_Submit:after {
  content: "";
  background: $red;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.Form_Submit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

//*********************************Dash Submit******************************************************//
.Dash_Submit {
  margin: 35px auto;
  padding: 0 15px;
  height: 2.5rem;
  width: 100%;
  outline: none;
  background-color: $green;
  border: none;
  border-radius: $radius;
  color: $gray;
  font-variant: small-caps;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  @include weight(xblack);
  transition: all 0.5s;
  position: relative;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

.Dash_Submit:after {
  content: "";
  background: $yellow;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.Dash_Submit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

//*********************************Quiz Next Quit******************************************************//

.quizcard_Quit {
  margin: 10px;
  padding: 0 15px;
  height: 2rem;
  outline: none;
  background-color: $orange;
  border: none;
  border-radius: $radius;
  color: $white;
  font-variant: small-caps;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  
}

.quizcard_Next {
  margin: 10px;
  padding: 0 15px;
  height: 2rem;
  outline: none;
  background-color: $green;
  border: none;
  border-radius: $radius;
  color: $white;
  font-variant: small-caps;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  @include weight(xblack);
  
}

//*********************************Result Home******************************************************//

.Res_Button{
  @extend .Dash_Submit;
  background-color: $orange;
  color: $white;
}