.Form_Container {
  position: relative;
  width: 100%;
  text-align: center;
  font-family: $font;
  @include respond-to(small){
    width: 90%;
    margin: 0 auto;
  }
}

.Form_Input {
	position: relative;
  display: flex;
  flex-direction: column;
}

.Form_Input:focus-within label {
  transform: translate(0, 0px) scale(0.8);
  color: #EDEDED;
}

.filled {
  transform: translate(0, 0px) scale(0.8);
}

.Form_Title {
  margin: 0;
  font-size: 1.25rem;
  color: $yellow;
  text-transform: uppercase;
  @include respond-to(small){
    font-size: 1.5rem;
  }
}

.Form_Label {
	position: absolute;
  pointer-events: none;
  transform: translate(0, 28px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: $blue;
  font-size: 1rem;
  line-height: 1;
  left: 2rem;
  @include respond-to(small){
    font-size: 1.5rem;
    transform: translate(0, 3rem) scale(1);
  }
}

.Form_UserName, .Form_UserEmail {
  margin: 15px;
  padding: 0 15px;
  height: 2.5rem;
  outline: none;
  background-color: $white;
  border: 5px solid $yellow;
  border-radius: $radius;
  color: $gray;
  @include weight(xblack);
  @include respond-to(small){
    height: 3.25rem;
    margin: 35px 0 0 0;
    font-size: 1.5rem;
  }
  &:focus {
    color: $blue;
    @include weight(regular);
  }
}

.Form_Error {
  background-color: rgba($color: $red, $alpha: 0.2);
  border: 1px solid $red;
  color: $red;
  width: 65%;
  margin: 0 auto;
  text-transform: uppercase;
  @include weight(xblack);
  font-size: 0.8rem;
  @include respond-to(small){
    margin: 20px auto;
    font-size: 1.25rem;
  }
}


