// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$white: #EDEDED;
$gray: #272F32;
$red: #FC453D;
$orange: #ff5e00;
$blue: #298EE6;
$green: #69D51F;
$yellow: #FEC015;



$radius: 8px;
